.content-sidebar {
    display: flex;
    flex-wrap: wrap;
   
}
.content-sidebar > *:nth-child(1) {
    flex: 1 1 70%;
}
.content-sidebar > *:nth-child(2) {
    flex: 1 1 30%;
}
.content {
    /* width: 70vw; */
    margin: 3rem auto;
    padding: 5em;
    background: rgb(217, 216, 216); 
    max-width: 500px;
    font-size: 10px;
    font-weight: 400;
}
/* .col {
    border: 3px solid #333;
    background-color: #dfdfdf;
} */


html {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    background-color: rgb(185, 185, 187);
}



