.grid-ish {
    display: flex;
    flex-wrap: wrap;
}
.grid-ish > * {
    flex: 1 1 30%;
}

/* .content {
    width: 70vw;
    margin: 3rem auto;
    padding: 2em;
    background: white;
} */
.col {
    width: 10px;
    margin: 10px;
    border: 3px solid #333;
    background-color: #dfdfdf;
}


html {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    background-color: rgb(43, 202, 125);
}



