.even-columns {
    display: flex;
}
.even-columns > * {
    flex-basis: 100%;
}

.content {
    width: 70vw;
    margin: 3rem auto;
    padding: 2em;
    /* box-shadow: 0 0 3em #rgba(0, 0, 0, 0.1); */
    background: white;
}
.col {
    /* width: 100%; */
    margin: 10px;
    border: 3px solid #333;
    background-color: #dfdfdf;
}


html {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    background-color: rgb(43, 202, 125);
}



